.active{
    /* color: #17a2b8!important; */
    color: #17a2b8!important; 

    font-weight: 800 !important;
    font-weight: bolder;
    border-radius: 5px;
}

.bg-img{
    background-image: url('https://images.pexels.com/photos/305566/pexels-photo-305566.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-color: rgba(207, 10, 10, 0.9);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}